/* You can add global styles to this file, and also import other style files */

body{
    background-color: #14161e;
}

h1,h2,h3,h4,h5{

    font-weight: 200;
    color:white;
}

p{
    color: white;
}

hr{
    color: white;
}

.cursor{
    cursor: pointer;
}